@media only screen and (min-width: 1600px) {
  h1{
    font-size: 8em;
  }

  h2{
    font-size: 6em;
  }

  h3{
    font-size: 2.5em;
  }

  .bokinfo > i{
    font-size: 2em;
  }

  .mainp{
    font-size: 1.7em;
  }

  .annonsgrid{
    display: grid;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    grid-column-gap: 4%;
  }

}
