@media only screen and (min-width: 1300px) {
  nav{
    width: 90vw;
    max-width: 400px;
    margin-top: -120px;
    margin-left: auto;
    margin-right: 10vw;
  }

  .fa{
    margin-bottom: 10px;
  }

  .li-nav{
    width: 85px;
    height: 160px;
    font-size: 1.5em;
    padding-top: 25px;
    line-height: 1.1em;
  }


  .desktopgrid{
    display: grid;
    grid-gap: 50px;
    grid-template-areas:
    "onehd      onehd      aside"
    "onep       onep       aside"
    "onepoint   onepoint   onepoint"
    "twohd      twohd      twohd"
    "twop       twop       twop"
    "twopoint   twopoint   twopoint"
    "threehd    threehd    threehd"
    "threep     threep     threep"
    "address    address    address"
    "fourp      fourp      fourp"
  }

  .firstheader{
    grid-area: onehd;
  }

  .secondheader{
    grid-area: twohd;
  }

  .thirdheader{
    grid-area: threehd;
  }

  .firstp{
    grid-area: onep;
  }

  .secondp{
    grid-area: twop;
  }

  .thirdp{
    grid-area: threep;
  }

  .fourthp{
    grid-area: fourp;
  }

  .firstpunkt{
    grid-area: onepoint;
  }

  .secondpunkt{
    grid-area: twopoint;
  }

  aside{
    margin-top: 50px;
    grid-area: aside;
  }

  address{
    grid-area: address;
  }

  .mainimage{
    max-height: 40vh;
    height: auto;
  }

  h1{
    margin-top: 2vh;
    margin-left: 10vw;
    text-align: left;
    color: white;
    font-family: "Berlin Sans FB", "Times New Roman", Times, serif;
    font-size: 8em;
  }

  h2{
    font-size: 6em;
  }

  h3{
    font-size: 2.7em;
  }

  .skickaadress{
    font-size: 2em;
  }

  .bokinfo > i{
    font-size: 2.3em;
  }

  .mainp{
    font-size: 2em;
  }

  .punktlista{
    font-size: 2em;
  }

  .annonsgrid{
    display: grid;
    width: 80vw;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    grid-column-gap: 2%;
  }

  .bokannons{
    padding: 2vw;
  }

  .bokomslag{
    width: 140px;
    height: 200px;
    border-radius: 10px;

}

@media only screen and (min-width: 2700px) {
  .bokomslag{
    width: 140px;
    height: 200px;
    border-radius: 10px;
  }
