/* CSS för desktop */
@media only screen and (min-width: 1300px) {
  /****************** Menu ******************/
  nav{
    width: 90vw;
    max-width: 400px;
    margin-top: -170px;
    margin-left: auto;
    margin-right: 10vw;
  }

  .fa{
    margin-bottom: 10px;
  }

/****************** Text ******************/
h1{
  margin-top: 2vh;
  margin-left: 10vw;
  text-align: left;
  color: white;
  font-family: "Berlin Sans FB", "Times New Roman", Times, serif;
}

h2{
  margin-top: -10px;
  font-size: 5em;
}

h3{
  font-size: 2.7em;
}

.mainp{
  font-size: 1.8em;
  margin-top: 0;
  margin-bottom: 0;
}

/****************** images ******************/
.mainimage{
  max-height: 40vh;
  max-width: 30vw;
  height: auto;
}

.hero{
  width: 100%;
  margin-left: 0vw;
  margin-top: -20px;
  margin-bottom: -10px;
}

/****************** Grids ******************/
  .homegrid{
    display: grid;
    grid-gap: 50px;
    grid-template-areas:
    "onehd      onehd      onehd"
    "hero       hero       hero"
    "onep       onep       onep"
    "twohd      twohd      twohd"
    "twop       twop       twop"
    "threehd    threehd    threehd"
    "threep     threep     threep"
    "fourp      fourp      fourp"
  }

/* Grid for book requests */
  .requestgrid{
    display: grid;
    width: 80vw;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    grid-column-gap: 2%;
  }

/* Grid for book send page */
  .sendgrid{
    display: grid;
    grid-gap: 50px;
    grid-template-areas:
    "onehd      onehd      mainpic"
    "onep       onep       mainpic"
    "onepoint   onepoint   mainpic"
    "twohd      twohd      mainpic"
    "twop       twop       mainpic"
    "twopoint   twopoint   mainpic"
    "threehd    threehd    mainpic"
    "threep     threep     mainpic"
    "address    address    mainpic"
    "fourp      fourp      mainpic"
  }

  .aboutgrid{
    display: grid;
    grid-gap: 20px;
    column-gap: 200px;
    grid-template-areas:
    "onehd      onehd      mainpic"
    "onep       onep       mainpic"
    "onep       onep       mainpic"
    "onep       onep       mainpic"
    "onep       onep       mainpic"
    "onep       onep       mainpic"
  }

  .firstheader{
    grid-area: onehd;
  }

  .secondheader{
    grid-area: twohd;
  }

  .thirdheader{
    grid-area: threehd;
  }

  .firstp{
    grid-area: onep;
  }

  .secondp{
    grid-area: twop;
  }

  .thirdp{
    grid-area: threep;
  }

  .fourthp{
    grid-area: fourp;
  }

  .firstpunkt{
    grid-area: onepoint;
  }

  .secondpunkt{
    grid-area: twopoint;
  }

  .mainpicture{
    margin-top: 50px;
    grid-area: mainpic;
  }

  /****************** CSS for the book sending instruction page ******************/
  address{
    grid-area: address;
  }

  .mailingaddress{
    font-size: 2em;
  }

  .bulletlist{
    font-size: 1.8em;
    margin-top: -2%;
    margin-bottom: -5%;
  }

/****************** CSS for the book request page ******************/
  .request{
    padding: 2vw;
  }

  .bookcover{
    width: 140px;
    height: 200px;
    border-radius: 10px;

  .bookinfo > i{
    font-size: 2.3em;
  }
}

@media only screen and (min-width: 2700px) {
/****************** Text ******************/
  h1{
    font-size: 8em;
  }
/****************** Larger book cover images ******************/
  .bookcover{
    width: 140px;
    height: 200px;
    border-radius: 10px;
  }
/****************** Slight tweaking of navigation size and placement ******************/
  .li-nav{
    width: 85px;
    height: 160px;
    font-size: 1.5em;
    padding-top: 25px;
    line-height: 1.1em;
  }
}
