/* CSS-bas för webbplatsen. Använder inte grid för att se till att browsers som inte stöder grid också kan få en fungerande om än simpel layout. */
/****************** Generell Stil ******************/
* {
  box-sizing: border-box;
}

body{
  background-color: #313C4A;
}

header{
  display: block;
  width: 100%;
}

main{
  display: block;
  margin-top: -60px;
  margin-left: auto;
  margin-right: auto;
  width: 90vw;
  padding: 5vw;
  padding-top: 60px;
  background-color: #FFFFBC;
  border-radius: 10px;
}

footer{
  color: white;
  text-align: center;
  margin-top: 10%;
  margin-bottom: 10%;
}

/****************** Text ******************/
h1{
  text-align: center;
  color: white;
  font-family: "Berlin Sans FB", "Times New Roman", Times, serif;
  font-size: 4em;
}

h2{
  color: #313C4A;
  font-family: "Berlin Sans FB", "Times New Roman", Times, serif;
  font-size: 2.5em;
}

h3{
  color: #313C4A;
  font-family: "Berlin Sans FB", "Times New Roman", Times, serif;
  font-size: 1.8em;
  margin-bottom: -3px;
}

.mainp{
  color: #313C4A;
  font-family: "Carlito", Arial, Helvetica, sans-serif;
  font-size: 1.3em;
  text-align: justify;
  text-justify: inter-word;
}

a:link{
  color: #328AC9;
  text-decoration: underline;
  font-weight: 900;
}

/****************** Menyn ******************/
nav{
  width: 90vw;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
}

.fa{
  margin-bottom: 10px;
}

.ul-nav{
  display: flex;
  padding: 0;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
}

.ul-nav > a:link {
  text-decoration: none;
}

.li-nav{
  width: 70px;
  height: 120px;
  margin: auto;
  font-family: "Carlito", Arial, Helvetica, sans-serif;
  font-size: 1.15em;
  font-weight: 900;
  color: white;
  text-align: center;
  border-radius: 10px;
  padding-top: 15px;
  line-height: 1.1em;
}

.first-menu{
  background-color: #518AD1;
}

.second-menu{
  background-color: #BC427D;
}

.third-menu{
  background-color: #D7831A;
}

.fourth-menu{
  background-color: #74D542;
}

.fa-nav{
  font-size: 2em;
}

/****************** Bild ******************/
.mainpicture{
  width: 100%;
  margin-bottom: 5%;
}

.mainimage{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/****************** Skicka-sidan ******************/
.bulletlist{
  color: #313C4A;
  font-family: "Carlito", Arial, Helvetica, sans-serif;
  font-size: 1.3em;
  text-align: justify;
  text-justify: inter-word;
}

.mailingaddress{
  background-color: #518AD1;
  border-radius: 10px;
  font-family: "Carlito", Arial, Helvetica, sans-serif;
  font-size: 1.3em;
  font-weight: bolder;
  color: white;
  padding: 6%;
  padding-left: 12%;
  padding-right: 12%;
  letter-spacing: 1.5px;
  word-spacing: 4px;
}

/****************** Boklista-sidan ******************/
.bookoverview{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
  margin-top: 10px;
  margin-bottom: 10px;
}

.request{
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 80vw;
  padding: 5vw;
  padding-top: 2vh;
  background-color: #FFFFBC;
  border-radius: 10px;
}

.request > picture{
  width: 80px;
  height: 120px;
}

.bookcover{
  width: 80px;
  height: 120px;
  border-radius: 10px;
}

.bookinfo {
  margin-left: 4vw;
}

.bookinfo > i{
  font-family: "Carlito", Arial, Helvetica, sans-serif;
  font-size: 1.5em;
}
