* {
  box-sizing: border-box;
}

body{
  background-color: #313C4A;
}

header{
  display: block;
  width: 100vw;
}

h1{
  text-align: center;
  color: white;
  font-family: "Berlin Sans FB", "Times New Roman", Times, serif;
  font-size: 5em;
}

nav{
  width: 90vw;
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;

}

.ul-nav{
  display: flex;
  padding: 0;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
}

.ul-nav > a:link {
  text-decoration: none;
}

.li-nav{
  width: 70px;
  height: 120px;
  margin: auto;
  font-family: "Carlito", Arial, Helvetica, sans-serif;
  font-size: 1.15em;
  font-weight: 900;
  color: white;
  text-align: center;
  border-radius: 10px;
  padding-top: 15px;
}

.first-menu{
  background-color: #518AD1;
}

.second-menu{
  background-color: #BC427D;
}

.third-menu{
  background-color: #D7831A;
}

.fourth-menu{
  background-color: #74D542;
}

.fa-nav{
  font-size: 2em;
}

main{
  display: block;
  margin-top: -60px;
  margin-left: auto;
  margin-right: auto;
  width: 90vw;
  padding: 5vw;
  padding-top: 60px;
  background-color: #FFFFBC;
  border-radius: 10px;
}

h2{
  color: #313C4A;
  font-family: "Berlin Sans FB", "Times New Roman", Times, serif;
  font-size: 3em;
}

.mainp{
  color: #313C4A;
  font-family: "Carlito", Arial, Helvetica, sans-serif;
  font-size: 1.3em;
  text-align: justify;
  text-justify: inter-word;
}

a:link{
  color: #328AC9;
  text-decoration: underline;
  font-weight: 900;
}

.punktlista{
  color: #313C4A;
  font-family: "Carlito", Arial, Helvetica, sans-serif;
  font-size: 1.3em;
  text-align: justify;
  text-justify: inter-word;
}

.skickaadress{
  background-color: #518AD1;
  border-radius: 10px;
  font-family: "Carlito", Arial, Helvetica, sans-serif;
  font-size: 1.3em;
  font-weight: bolder;
  color: white;
  padding: 6%;
  padding-left: 12%;
  padding-right: 12%;
  letter-spacing: 1.5px;
  word-spacing: 4px;
}

.bokannons > picture{
  width: 80px;
  height: 120px;
}

.bokoverview{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
  margin-top: 10px;
  margin-bottom: 10px;
}

.bokannons{
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 80vw;
  padding: 5vw;
  padding-top: 2vh;
  background-color: #FFFFBC;
  border-radius: 10px;
}

.bokomslag{
  width: 80px;
  height: 120px;
  border-radius: 10px;
}

.bokinfo {
  margin-left: 4vw;
}

h3{
  color: #313C4A;
  font-family: "Berlin Sans FB", "Times New Roman", Times, serif;
  font-size: 1.8em;
  margin-bottom: -3px;
}

.bokinfo > i{
  font-family: "Carlito", Arial, Helvetica, sans-serif;
  font-size: 1.5em;
}
