/* CSS för plattor */
@media only screen and (min-width: 850px) {
  /****************** Grid för tablet ******************/
  .tabletgrid{
    display: grid;
    grid-gap: 20px;
    grid-template-areas:
    "onehd      onehd      onehd"
    "onep       onep       mainpic"
    "onepoint   onepoint   onepoint"
    "twohd      twohd      twohd"
    "twop       twop       twop"
    "twopoint   twopoint   twopoint"
    "threehd    threehd    threehd"
    "threep     threep     threep"
    "address    address    address"
    "fourp      fourp      fourp"
  }

  .firstheader{
    grid-area: onehd;
  }

  .secondheader{
    grid-area: twohd;
  }

  .thirdheader{
    grid-area: threehd;
  }

  .firstp{
    grid-area: onep;
  }

  .secondp{
    grid-area: twop;
  }

  .thirdp{
    grid-area: threep;
  }

  .fourthp{
    grid-area: fourp;
  }

  .firstpoint{
    grid-area: onepoint;
  }

  .secondpoint{
    grid-area: twopoint;
  }

  .mainpicture{
    grid-area: mainpic;
  }

  address{
    grid-area: address;
  }

  /****************** Text ******************/
  h1{
    font-size: 7em;
  }

  h2{
    font-size: 5em;
  }

  h3{
    font-size: 2.1em;
  }

  .mainp{
    font-size: 1.7em;
  }

  /****************** Menyn ******************/
  nav{
    width: 90vw;
    max-width: 370px;
  }

  .fa{
    margin-bottom: 10px;
  }

  .li-nav{
    width: 80px;
    height: 140px;
    font-size: 1.4em;
    padding-top: 15px;
    line-height: 1.1em;
  }

/****************** Skicka-sidan ******************/
  .mailingaddress{
    font-size: 1.7em;
  }

  .bulletlist{
    font-size: 1.7em;
  }

/****************** Boklista-sidan ******************/
/* Grid för bokannonser */
  .requestgrid{
    display: grid;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: repeat(2, 48%);
    grid-column-gap: 4%;
  }

  .request{
    width: auto;
  }

  .bookinfo {
    margin-left: 2vw;
  }

  .bookinfo > i{
    font-size: 1.9em;
  }
}

/* Gör så att bokomslagen är lite större på större plattor */
@media only screen and (min-width: 1030px) {
  .bookcover{
    width: 120px;
    height: 180px;
    border-radius: 10px;
  }
}
