@media only screen and (min-width: 850px) {
  nav{
    width: 90vw;
    max-width: 370px;
  }

  .fa{
    margin-bottom: 10px;
  }

  .li-nav{
    width: 80px;
    height: 140px;
    font-size: 1.4em;
    padding-top: 15px;
    line-height: 1.1em;
  }

  .tabletgrid{
    display: grid;
    grid-gap: 20px;
    grid-template-areas:
    "onehd      onehd      onehd"
    "onep       onep       aside"
    "onepoint   onepoint   onepoint"
    "twohd      twohd      twohd"
    "twop       twop       twop"
    "twopoint   twopoint   twopoint"
    "threehd    threehd    threehd"
    "threep     threep     threep"
    "address    address    address"
    "fourp      fourp      fourp"
  }

  .firstheader{
    grid-area: onehd;
  }

  .secondheader{
    grid-area: twohd;
  }

  .thirdheader{
    grid-area: threehd;
  }

  .firstp{
    grid-area: onep;
  }

  .secondp{
    grid-area: twop;
  }

  .thirdp{
    grid-area: threep;
  }

  .fourthp{
    grid-area: fourp;
  }

  .firstpunkt{
    grid-area: onepoint;
  }

  .secondpunkt{
    grid-area: twopoint;
  }

  aside{
    grid-area: aside;
  }

  address{
    grid-area: address;
  }

  h1{
    font-size: 7em;
  }

  h2{
    font-size: 5em;
  }

  h3{
    font-size: 2.1em;
  }

  .skickaadress{
    font-size: 1.7em;
  }

  .bokinfo > i{
    font-size: 1.9em;
  }

  .mainp{
    font-size: 1.7em;
  }

  .punktlista{
    font-size: 1.7em;
  }

  .annonsgrid{
    display: grid;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: repeat(2, 48%);
    grid-column-gap: 4%;
  }

  .bokannons{
    width: auto;
  }

  .bokinfo {
    margin-left: 2vw;
  }

}

@media only screen and (min-width: 1030px) {
  .bokomslag{
    width: 120px;
    height: 180px;
    border-radius: 10px;
  }
}
