/* CSS for tablets */
@media only screen and (min-width: 850px) {
  /****************** Grid for tablet ******************/
  .tablethomegrid{
    display: grid;
    grid-gap: 10px;
    grid-template-areas:
    "onehd      onehd      onehd"
    "hero       hero       hero"
    "onep       onep       onep"
    "twohd      twohd      twohd"
    "twop       twop       twop"
    "threehd    threehd    threehd"
    "threep     threep     threep"
    "fourp      fourp      fourp"
  }

/* Grid for book request page */
  .requestgrid{
    display: grid;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: repeat(2, 48%);
    grid-column-gap: 4%;
  }
/* Grid for book sending instruction page */
  .tabletsendgrid{
    display: grid;
    grid-gap: 10px;
    column-gap: 5%;
    grid-template-areas:
    "onehd      onehd      onehd"
    "onep       onep       mainpic"
    "onepoint   onepoint   mainpic"
    "twop       twop       twop"
    "twopoint   twopoint   twopoint"
    "threep     threep     threep"
    "address    address    address"
    "fourp      fourp      fourp"
  }

  .firstheader{
    grid-area: onehd;
  }

  .secondheader{
    grid-area: twohd;
  }

  .thirdheader{
    grid-area: threehd;
  }

  .firstp{
    grid-area: onep;
  }

  .secondp{
    grid-area: twop;
  }

  .thirdp{
    grid-area: threep;
  }

  .fourthp{
    grid-area: fourp;
  }

  .firstpoint{
    grid-area: onepoint;
  }

  .secondpoint{
    grid-area: twopoint;
  }

  .mainpicture{
    grid-area: mainpic;
  }

  .hero{
    grid-area: hero;
  }

  address{
    grid-area: address;
  }

  /****************** Text ******************/
  h1{
    font-size: 7em;
    margin-top: -5px;
  }

  h2{
    font-size: 5em;
    margin-top: 0.2em;
    margin-bottom: -0.1em;
  }

  h3{
    font-size: 2.1em;
  }

  .mainp{
    font-size: 1.7em;
    margin-top: 0em;
    margin-bottom: 0em;
  }

  /****************** Menu ******************/
  nav{
    width: 90vw;
    max-width: 370px;
    margin-top: -60px;
  }

  .fa{
    margin-bottom: 10px;
  }

  .li-nav{
    width: 80px;
    height: 140px;
    font-size: 1.4em;
    padding-top: 15px;
    line-height: 1.1em;
  }

/****************** Images ******************/

  .hero{
    width: 100%;
    margin-left: 0vw;
    margin-top: 0px;
    margin-bottom: 0px;
  }

/****************** Sending page ******************/
  .mailingaddress{
    font-size: 1.7em;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .bulletlist{
    font-size: 1.7em;
    margin-top: 0em;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 3em;
    }

/****************** Book request page ******************/
  .request{
    width: auto;
  }

  .bookinfo {
    margin-left: 2vw;
  }

  .bookinfo > i{
    font-size: 1.9em;
  }

/****************** About page ******************/
  .aboutimagespace{
    margin-top: 2em;
  }
}

/* makes book cover images slightly larger on larger tablets */
@media only screen and (min-width: 1030px) {
  .bookcover{
    width: 120px;
    height: 180px;
    border-radius: 10px;
  }
}
